<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">
<head>
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" th:href="@{/css/ui/form.css}">
    <link rel="stylesheet" th:href="@{/css/modules/module-list.css}">
</head>
<body>
<main layout:fragment="content" class="page">
    <div class="page-header">
        <div class="page-title">
            <h2>Nuevo Contacto</h2>
            <p>Complete la información del contacto.</p>
        </div>
        <a th:href="@{/contactos}" class="boton-secondary boton-accent">
            <span class="boton-icon">
                <i class="ri-arrow-go-back-line"></i>
            </span>
            <span class="boton-text">
                Volver
            </span>
        </a>
    </div>
    <form th:action="@{/contactos/guardar}"
          th:object="${contacto}"
          method="post"
          class="form-container">
        <input type="hidden" th:field="*{id}">
        <div class="form-body">
            <div class="form-row-fit">
                <!-- Nombre -->
                <div class="input-group">
                    <label for="nombre" class="label-form">
                        Nombre
                        <i class="ri-asterisk text-accent"></i>
                    </label>
                    <div class="input-icon-container">
                        <i class="ri-user-line input-icon"></i>
                        <input
                                id="nombre"
                                type="text"
                                class="input-form"
                                th:field="*{nombre}"
                                placeholder="Ingrese el nombre"
                                required>
                    </div>
                </div>
                <!-- Email -->
                <div class="input-group">
                    <label for="email" class="label-form">
                        Email
                        <i class="ri-asterisk text-accent"></i>
                    </label>
                    <div class="input-icon-container">
                        <i class="ri-mail-line input-icon"></i>

                        <input
                                id="email"
                                type="email"
                                class="input-form"
                                th:field="*{email}"
                                placeholder="correo@ejemplo.com"
                                required>
                    </div>
                </div>
            </div>
            <div class="form-row-fit">
                <!-- Teléfono -->
                <div class="input-group">
                    <label for="telefono" class="label-form">
                        Teléfono
                    </label>
                    <div class="input-icon-container">
                        <i class="ri-phone-line input-icon"></i>
                        <input
                                id="telefono"
                                type="text"
                                class="input-form"
                                th:field="*{telefono}"
                                placeholder="987654321">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer-static">

            <a th:href="@{/contactos}" class="boton-secondary boton-volver">
                <span class="boton-icon">
                    <i class="ri-arrow-left-circle-fill"></i>
                </span>
                <span class="boton-text">
                    Cancelar
                </span>
            </a>
            <button
                    type="submit"
                    class="boton-secondary boton-success">
                <span class="boton-icon">
                    <i class="ri-save-3-fill"></i>
                </span>
                <span class="boton-text">
                    Guardar Contacto
                </span>
            </button>
        </div>
    </form>
</main>
</body>
</html>