<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/modules/home.css}">
</head>
<body>

<main layout:fragment="content" class="dashboard">
    <section class="dashboard-header">
        <h1>Bienvenido al Dashboard</h1>
        <p>Selecciona un módulo para comenzar.</p>
    </section>
    <section class="dashboard-grid">
        <a th:href="@{/eventos}" class="dashboard-card">
            <div class="card-icon">📅</div>

            <div class="card-content">
                <h3>Tareas</h3>
                <p>Administrar tareas del sistema.</p>
            </div>
        </a>
        <a th:href="@{/contactos}" class="dashboard-card">
            <div class="card-icon">👥</div>

            <div class="card-content">
                <h3>Contactos</h3>
                <p>Gestionar contactos registrados.</p>
            </div>
        </a>
    </section>
</main>
</body>
</html>