<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">
<head>
    <title>Formulario de Evento</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#fecha").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/modules/module-list.css}">
    <link rel="stylesheet" th:href="@{/css/ui/form.css}">
</head>
<body>
<main layout:fragment="content" class="page">

    <div class="page-header">
        <div class="page-title">
                <h2>Nueva Tarea</h2>
                <p>Complete la información de la tarea.</p>
        </div>
        <a th:href="@{/eventos}" class="boton-secondary boton-accent">
            <span class="boton-icon">
                <i class="ri-arrow-go-back-line"></i>
            </span>
            <span class="boton-text">
                Volver
            </span>
        </a>
    </div>
    <form th:action="@{/eventos/guardar}"
            th:object="${evento}"
            method="post"
            class="form-container">
        <input type="hidden" th:field="*{id}">
        <div class="form-body">
            <div class="form-row-fit">
                <!-- Título -->
                <div class="input-group">
                    <label for="titulo" class="label-form">
                        Nombre
                        <i class="ri-asterisk text-accent"></i>
                    </label>
                    <div class="input-icon-container">
                        <i class="ri-bookmark-line input-icon"></i>
                        <input
                                id="titulo"
                                type="text"
                                class="input-form"
                                th:field="*{titulo}"
                                placeholder="Ingrese el título">
                    </div>
                </div>
                <!-- Fecha -->
                <div class="input-group">
                    <label for="fecha" class="label-form">
                        Fecha
                        <i class="ri-asterisk text-accent"></i>
                    </label>
                    <div class="input-icon-container">
                        <i class="ri-calendar-line input-icon"></i>
                        <input
                                id="fecha"
                                type="text"
                                class="input-form"
                                th:field="*{fecha}"
                                placeholder="Seleccione una fecha">
                    </div>
                </div>
            </div>
            <div class="form-row-fit">
                <!-- Hora -->
                <div class="input-group">
                    <label for="hora" class="label-form">
                        Hora
                        <i class="ri-asterisk text-accent"></i>
                    </label>
                    <div class="input-icon-container">
                        <i class="ri-time-line input-icon"></i>
                        <input
                                id="hora"
                                type="text"
                                class="input-form"
                                th:field="*{hora}"
                                placeholder="HH:mm:ss">
                    </div>
                </div>
            </div>

            <div class="input-group">
                <label for="descripcion" class="label-form">
                    Descripción
                </label>
                <div class="input-icon-container">
                    <i class="ri-file-text-line input-icon"></i>
                    <textarea
                            id="descripcion"
                            class="textarea-form"
                            th:field="*{descripcion}"
                            rows="5"
                            placeholder="Descripción del evento"></textarea>
                </div>
            </div>
        </div>

        <div class="form-footer-static">
            <a th:href="@{/eventos}" class="boton-secondary boton-volver">
                <span class="boton-icon">
                    <i class="ri-arrow-left-circle-fill"></i>
                </span>
                <span class="boton-text">
                    Cancelar
                </span>
            </a>
            <button
                    type="submit"
                    class="boton-secondary boton-success">
                <span class="boton-icon">
                    <i class="ri-save-3-fill"></i>
                </span>
                <span class="boton-text">
                    Guardar Evento
                </span>
            </button>
        </div>
    </form>
</main>
</body>
</html>
