<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">
<head>
    <title>Lista de Eventos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/modules/module-list.css}">
</head>
<body>
<main layout:fragment="content" class="page">
    <div class="page-header">
        <div>
            <h2>Lista de Tareas</h2>
            <p>Administra las tareas registradas.</p>
        </div>
        <a th:href="@{/eventos/nuevo}" class="boton-secondary bg-success">
            <span class="boton-icon">
                <i class="ri-add-line"></i>
            </span>
            <span class="boton-text">
                Nueva tarea
            </span>
        </a>
    </div>
    <section class="card">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="evento : ${eventos}">
                <td th:text="${evento.id}"></td>
                <td th:text="${evento.titulo}"></td>
                <td th:text="${evento.descripcion}"></td>
                <td th:text="${#dates.format(evento.fecha, 'dd/MM/yyyy')}"></td>
                <td th:text="${#dates.format(evento.hora, 'HH:mm')}"></td>
                <td>
                    <div class="table-actions ">
                        <a th:href="@{/eventos/{id}/editar(id=${evento.id})}" class="boton-secondary bg-warning">
                            <span class="boton-icon">
                                <i class="ri-pencil-line"></i>
                            </span>
                            <span class="boton-text">
                                Editar
                            </span>
                        </a>
                        <a th:href="@{/eventos/{id}/eliminar(id=${evento.id})}" class="boton-secondary bg-danger">
                            <span class="boton-icon">
                                <i class="ri-delete-bin-line"></i>
                            </span>
                            <span class="boton-text">
                                Eliminar
                            </span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
